In [1]:
import pandas as pd
import numpy as np

In [3]:
test=pd.read_csv('test.csv')
train=pd.read_csv('train.csv')

In [6]:
test.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
train.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
test.to_csv('test.csv')
train.to_csv('train.csv')

In [9]:
train

,atr1,atr2,atr3,atr4,atr5,atr6,atr7,atr8,atr9,atr10,atr11,atr12,atr13,atr14,atr15,atr16,atr17,atr18,class
0,0.389060,0.161160,-0.057539,0.557480,-0.057935,-0.080675,-0.055615,-0.080675,0.61094,0.223440,-0.54764,1.0732,1.27160,1.05790,4.6023,0.442520,0.223210,-5451.000,0
1,0.831880,-0.031407,-0.128080,-0.095043,0.001237,0.003748,-0.072565,0.000000,0.14630,-0.321690,0.00000,1.1430,0.72186,0.85164,4.6500,0.853700,-0.025713,1242.800,0
2,0.861070,0.000000,-0.104010,0.031677,0.000000,0.000000,-0.101780,0.000000,0.13893,-0.104010,0.00000,1.0000,1.01070,0.80469,2.6720,0.861070,0.059173,-3065.800,0
3,0.764060,0.175230,0.175230,0.196600,0.066714,0.136060,0.212090,0.136060,0.19660,0.212090,0.70637,1.0000,0.83189,0.94446,3.9803,0.764060,0.071079,952.210,0
4,0.356260,0.116770,0.097003,0.293330,0.054635,0.070854,0.097003,0.070854,0.63475,0.116770,0.57929,1.2494,0.17203,0.94313,4.4545,0.697680,-0.129770,1706.400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34719,0.111700,0.074676,0.038730,0.651510,0.182430,0.056963,0.047293,0.056963,0.88233,0.093939,2.22750,1.3166,5.06890,0.81898,4.9640,0.342520,0.523480,2241.500,0
34720,0.062326,0.000000,0.588180,0.715720,0.146000,0.716060,0.727790,0.727740,0.93767,0.727780,81968.00000,1.0000,9.61350,0.85345,2.3527,0.062326,0.895080,31.128,0
34721,0.158350,0.502620,0.459430,0.509610,0.223680,0.480010,0.459430,0.480010,0.83482,0.502620,2.86660,2.2422,1.61910,0.78031,4.1887,0.483560,0.204830,355.380,0
34722,0.455050,0.050867,0.019361,0.317670,0.026807,0.044682,0.026430,0.044682,0.53843,0.072717,0.27392,1.0844,0.46273,0.97863,4.4833,0.675810,-0.067134,2951.200,0
34723,0.149860,-0.090698,0.070191,0.559920,0.061580,0.148380,0.149770,0.148980,0.85014,0.079078,2.10740,1.0000,4.42600,0.96720,2.2362,0.149860,0.514520,289.180,0

In [11]:
data=pd.read_csv('data.csv')

In [12]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
data.to_csv('data.csv')